*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 1100px;
  margin: auto;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.float{
  float: left;
}
a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.log{
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.a-green{
  padding: 5px 10px;
  background-color: #64de82;
  border-radius: 5px;
}
/* Fine regole generali */

/* Inizio header */
header{
  height: 500px;
  background-color: #001a4f;
  background-image: url("../img/background-header.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}
.header-top{
  height: 80px;
}

/* Logo azienza */
.header-top .logo{
  width: 15%;
}
.header-top .logo img{
  margin-top: 15px;
}

/* Area Links */
.header-top .area-menu{
  width: 50%;
}
.header-top .area-menu li{
  font-size: 15px;
  display: inline-block;
  padding: 0 10px;
  line-height: 80px;
}
.header-top .area-users{
  width: 35%;
  text-align: right;
}
.header-top .area-users li{
  font-size: 12px;
  display: inline-block;
  padding: 0 10px;
  line-height: 80px;
}

/* Area JUMBOTRON */
.jumbotron{
  width: 50%;
  height: 420px;
  position: relative;
}
.jumbotron-content{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.jumbotron-content h1{
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* Fine header */


/* Inizio main */
main{
  height: 800px;
  /* background-color: lightblue; */
}

/* Row Grigia */
.main-top{
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 50px;
}
.main-top p{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

/* Prima row */
.row-info{
  height: 500px;
}
.info-box{
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  padding: 0 10px;
  margin: 20px 0;
}
/* Contenuto */
.info-box img{
  height: 35%;
}
.info-box h3{
  font-size: 25px;
  color: #64de82;
}
.info-box hr{
  margin: 15px 0;
}

/* Seconda row */
.row-analitycs{
  height: 500px;
}
/* Img */
.analitycs-box-img{
  width: 50%;
  height: 100%;
}
.analitycs-box-img img{
width: 100%;
text-align: center;
}
/* Contenuto */
.analitycs-box-content{
  width: 50%;
  height: 100%;
  padding: 5px 60px;
}
.analitycs-box-content h2{
  font-size: 30px;
}
.analitycs-box-content p{
  font-size: 20px;
  color: grey;
  padding: 15px 0;
}
/* Link */
.analitycs-box-content a{
  color: #001a4f;
  text-transform: capitalize;
  text-decoration: underline;
}
